<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>

    <!--<script src="main.js"></script>-->

</head>
<body>

<div class="quiz">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cardHolder">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        </div>
                    </div>
                    <div class="btn btn-primary back hidden">Back</div>
                    <div class="card-1">
                        <h2>Wat is je geslacht?</h2>
                        <img src="assets/img/mv.jpg" />
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Man</button>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Vrouw</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-2 hidden">
                        <h2>Ben je zover je weet de afgelopen 3 jaar gebeten door een teek?</h2>
                        <img src="assets/img/tickbite.jpg" />

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Ja</button>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Nee</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-3 hidden">
                        <h2>Tref je op je lichaam een rode, ringvormige uitslag of een blauwachtige of roze vlek aan?</h2>
                        <img src="assets/img/tickring.jpg" />

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Ja</button>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Nee</button>
                            </div>

                        </div>
                    </div>
                    <div class="card-4 hidden">
                        <h2>Heeft u last van spierpijn?</h2>
                        <img src="assets/img/spierpijn.jpg" />

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Ja</button>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Nee</button>
                            </div>

                        </div>
                    </div>
                    <div class="card-5 hidden">
                        <h2>voel u zich grieperig?</h2>
                        <img src="assets/img/griep.jpg" />

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Ja</button>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Nee</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-6 hidden">
                        <h2>Heeft u last van hoofdpijn?</h2>
                        <img src="assets/img/hoofdpijn.jpg" />

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Ja</button>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Nee</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-7 hidden map">
                        <h2>Heeft u last van depressieve gevoelens?</h2>
                        <img src="assets/img/depri.jpg" />

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Ja</button>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Nee</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-8 hidden">
                        <h2>heeft u last van haaruitval?</h2>
                        <img src="assets/img/haaruitval.jpg" />

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Ja</button>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Nee</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-9 hidden">
                        <h2>Heeft u last van ernstige moeheid?</h2>
                        <img src="assets/img/moe.jpg" />
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Ja</button>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Nee</button>
                            </div>

                        </div>
                    </div>
                    <div class="card-10 hidden">
                        <h2>Last van buikpijn?</h2>
                        <img src="assets/img/buikpijn.jpg" />

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Ja</button>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Nee</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-11 hidden">
                        <h2>Heeft u problemen met slapen?</h2>
                        <img src="assets/img/slaap.jpg" />

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block rifle">Ja</button>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block ">Nee</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-12 hidden">
                        <h2>Heeft u last van duizeligheid?</h2>
                        <img src="assets/img/duiz.jpg" />

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Ja</button>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Nee</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-13 hidden" >
                        <h2>Heeft u last van tintelingen door het lichaam?</h2>
                        <img src="assets/img/tint.jpg" />

                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Ja</button>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <button class="btn btn-primary btn-block">Nee</button>
                            </div>
                        </div>
                    </div>
                    <div class="theEnd hidden" >
                        <h2>Druk op Results om de uitslag te zien</h2>
                        <p id="score" ></p>
                      <a routerLink="/home" routerLinkActive="active" role="button" class="btn btn-primary">Results!</a>

                    </div>

                </div><!-- end of cards -->
            </div>
        </div>
    </div>
</div>

</body>
</html>
