
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Checkout example for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->

  <!-- Custom styles for this template -->
  <!--<link href="form-validation.css" rel="stylesheet">-->
</head>

<body >

<main role="main" class="bg-light">

<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Dagboek</h2>
    <p class="lead">Dit is je dagelijkse dagboek. Hier kunt u al uw symtomen en klachten neerzetten voor een goed overzicht.</p>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Hoe voel je je vandaag?</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Geweldig</h6>
          </div>
          <span class="text-muted"><img src="assets/img/happy.png" /></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Neutraal</h6>
          </div>
          <span class="text-muted"><img src="assets/img/neutral.png" /></span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Niet goed</h6>
          </div>
          <span class="text-muted"><img src="assets/img/sad.png" /></span>
        </li>

      </ul>

    </div>
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Datum</h4>

      <!-- Date picker -->


          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <form method="post">
                <div class="form-group ">
                  <label class="control-label " for="date">
                    Date
                  </label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar">
                      </i>
                    </div>
                    <input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text"/>
                  </div>
                </div>
              </form>
            </div>
          </div>



      <form class="needs-validation" novalidate>

        <div class="form-group">
          <label for="comment">Schrijf hier uw gedachtes/gevoelens:</label>
          <textarea class="form-control" rows="10" id="comment"></textarea>
        </div>




        <hr class="mb-4">
        <h2>Symptomen</h2>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="sym1">
          <label class="custom-control-label" for="sym1">Hoofdpijn</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="sym2">
          <label class="custom-control-label" for="sym2">Spierpijn</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="sym3">
          <label class="custom-control-label" for="sym3">Depressieve gevoelens</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="sym4">
          <label class="custom-control-label" for="sym4">Tintelingen</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="sym5">
          <label class="custom-control-label" for="sym5">Slapeloosheid</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="sym6">
          <label class="custom-control-label" for="sym6">Grieperig</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="sym7">
          <label class="custom-control-label" for="sym7">Haaruitval</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="sym8">
          <label class="custom-control-label" for="sym8">Vermoeid</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="sym9">
          <label class="custom-control-label" for="sym9">Buikpijn</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="sym10">
          <label class="custom-control-label" for="sym10">Duizeligheid</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="sym11">
          <label class="custom-control-label" for="sym11">Klierzwelling (hals, oksels, liezen)</label>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="sym12">
          <label class="custom-control-label" for="sym12">Hartkloppingen, overslaan van het hart</label>
        </div>



        <hr class="mb-4">

        <button class="btn btn-primary btn-lg btn-block" type="submit">Sla gegevens op</button>
      </form>
    </div>
  </div>

</div>
</main>
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Metics &trade;</p>
  </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';

    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');

      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>
</body>
</html>
