
<body>
  <!-- Leftside -->
  <div class="container-fluid">
    <div id="LoginRow" class="row">
      <div id="LoginLeft" class="col-sm-8">

      </div>
      <div id="LoginRight" class="col-sm-4">
        <h1>Aanmelden</h1>
        <br />
        <br />
        <div class="alert alert-info">
        <strong>Please Login</strong>
        </div>
        <br />
        <br />
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <input type="text" ng-model="voornaam" contenteditable="true" placeholder="Username"/>
        <br />
        <br />
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        <input type="text" ng-model="voornaam" contenteditable="true" placeholder="Password"/>
        <br />
        <br />
        <a href="/home" class="btn btn-secondary">Login</a>
        <!--<button type="button" href="home" >Login</button>-->
      </div>
    </div>
  </div>
</body>
