<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">De Tekenbeet</h1>


    </div>
</section>

<section>
    <div class="container">
        <h2 class="jumbotron-heading mb-4">Wat is precies een teek?</h2>

        <img class="img-thumbnail mr-3"src="assets/img/nagel.jpg" alt="Teken op nagel">
        <p >Een teek is erg klein, maar 1 tot 3 millimeter.
          Teken zijn makkelijk over het hoofd te zien. Als een teek je heeft gebeten,
          lijkt het of er een zwart puntje op je huid zit. Door het opzuigen van bloed
          zwellen teken na een paar dagen op tot een bruin of grijs bolletje ongeveer
          zo groot als een ewrt.</p>

          <div class="clearfix"></div>

          <h2 class="jumbotron-heading mt-5">Hoe kan ik een teek krijgen?</h2>

          <p>Teken 'stappen' over van grassen en struiken naar dieren en mensen.
            Als ze daar eenmaal zitten, zoeken ze naar een geschikte plek om
            zich vast te bijten in je huid. Hun favoriete plekken zijn je liezen,
            knieholtes, oksels, bilspleet, randen van je ondergoed en achter je oren.
            Bij kinderen zoeken teken graag de haargrens in de nek op.</p>



          <p>Teken kunnen verschillende ziekten overbrengen, ze worden daarom vectoren genoemd.
          Na de steekmuggen zijn teken de belangrijkste verspreiders van pathogenen. De bekendste
          Europese teek, die tevens een overbrenger is van Lymeziekte, FSME en het alfa-galsyndroom,
          is de schapenteek (Ixodes ricinus)</p>





          <h2 class="jumbotron-heading mt-5">Wat te doen bij een tekenbeet?</h2>

          <ul class="list-group">
            <li class="list-group-item">Haal de teek zo snel mogelijk weg. Hoe langer de teek in je huid zit, hoe groter de kans dat hij ziekteverwekkers overdraagt</li>
            <li class="list-group-item">Gebruik een puntig pincet waarmee je de teek goed bij de kop kunt vastpakken. Er zijn ook andere tekenverwijderaars te koop bijvoorbeeld bij de drogist of apotheek</li>
            <li class="list-group-item">Pak de teek zo dicht mogelijk op de huid bij de kop beet en trek hem er langzaam uit.</li>
            <li class="list-group-item">Zit de teek waarschijnlijk al meer dan 24 uur in de huid vast? Overleg dan met je huisarts of hij behandeling nodig vindt</li>
            <li class="list-group-item">Heb je de teek binnen 24 uur verwijderd? Houd de huid rondom de beet 3 maanden in de gaten. Let op het ontstaan van een rode ring of andere klachten. Die kunnen duiden op de ziekte van Lyme</li>

          </ul>








    </div>
</section>
