<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">Dit is een website voor het preventeren en detecteren van tekenbeten.</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Dingen</h4>
        <ul class="list-unstyled">
          <li><a class="text-white" routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a class="text-white" routerLink="/dagboek" routerLinkActive="active">Dagboek</a></li>
          <li><a class="text-white" routerLink="/maps" routerLinkActive="active">Maps</a></li>
          <li><a class="text-white" routerLink="/info" routerLinkActive="active">Informatie</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-dark bg-dark box-shadow">
  <div class="container d-flex justify-content-between">
    <a routerLink="/home" routerLinkActive="active" class="navbar-brand d-flex align-items-center">
      <img height="30" src="assets/img/logov3.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
<router-outlet></router-outlet>
