<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
<!-- card fix : https://getbootstrap.com/docs/4.0/migration/#cards -->

<div class="container">
   <!--<div class="row">
      <div class="col-md-12 col-centered ">
         <div class="card ">
            <div class="card-header">
               <h4 >User Profile</h4>
            </div>
            <div class="card-body">
               <div class="box box-info">
                  <div class="box-body">

                     <div class="col-md-2  col-centered">
                        <div  align="center">
                           <img alt="User Pic" id="profile-image1" class="rounded-circle img-fluid" src="https://i.imgur.com/aSVjtu7.png">

                        </div>
                        <br>
                     </div>

                     <div class="col-md-7 offset-md-3 col-centered">
                        <h4 style="color:#00b1b1;">?????</h4>
                        <span>
                           <p>?????</p>
                        </span>
                     </div>
                     <div class="clearfix"></div>
                     <div class="bot-border"></div>
                     <div class="col-sm-5 col-xs-6 tital " >Date Of Joining:</div>
                     <div class="col-sm-7">?????</div>
                     <div class="clearfix"></div>
                     <div class="bot-border"></div>
                     <div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div>
                     <div class="col-sm-7">?????</div>
                     <div class="clearfix"></div>
                     <div class="bot-border"></div>
                     <div class="col-sm-5 col-xs-6 tital " >Place Of Birth:</div>
                     <div class="col-sm-7">?????</div>
                     <div class="clearfix"></div>
                     <div class="bot-border"></div>


                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>-->

<!-- test profile -->
<div class="card" style="margin-top: 1%;">
  <div class="card-header">
    <h4>Profile</h4>
  </div>
  <div class="card-body">
    <div class="row">

      <!-- picture and name -->
      <div class="col-md-2">
        <img alt="User Pic" id="profile-image1" class="rounded-circle img-fluid" src="assets/img/person.jpg">
         <!-- decent image https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg -->
      </div>

      <div class="col-md-7 offset-md-3 col-centered">
         <h4 style="color:#26c423;">Jan Jansen</h4>
         <span>
            <p>Student</p>
         </span>
      </div>
    </div>

<br><br>
      <!-- info of user -->
      <div class="row" >
        <div class="clearfix"></div>
        <div class="bot-border"></div>
        <div class="col-sm-5 col-xs-6 tital " >Date Of Joining:</div>
        <div class="col-sm-7">22-06-2018</div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>
        <div class="col-sm-5 col-xs-6 tital " >Date Of Birth:</div>
        <div class="col-sm-7">19-01-1995</div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>
        <div class="col-sm-5 col-xs-6 tital " >Place Of Birth:</div>
        <div class="col-sm-7">Nederland</div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>
      </div>

  </div>
</div>

<!-- graph containers -->
<div class="card" style="margin-top: 1%;">
  <div class="card-header">
    <h4>Graphs</h4>
  </div>
  <div class="card-body">
    <div class="row" >
        <div id="container" style="width:100%; height:300px; padding-left: 1%"></div>
    </div>
  </div>
</div>

<div class="card" style="margin-top: 1%;">
  <div class="card-body">
    <div class="row" >
        <div id="graph2" style="width:100%; height:300px; padding-left: 1%"></div>
    </div>
  </div>
</div>
  <div class="card" style="margin-top: 1%;">

    <div class="card-body">
      <div class="tabDiv">
        <button class="tab active" id="dag1">Maandag</button>
        <button class="tab" id="dag2">Dinsdag</button>
        <button class="tab" id="dag3">Woensdag</button>
        <button class="tab" id="dag4">Donderdag</button>
        <button class="tab" id="dag5">Vrijdag</button>
        <button class="tab" id="dag6">Zaterdag</button>
        <button class="tab" id="dag7">Zondag</button>
      </div>
    </div>
    <div class="dag actief" id="Maandag">
      <h2>Maandag 25-06-2018</h2>
      <p>Hier is de ingevulde data voor de maandag van je dagboek te vinden.<br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel efficitur mauris. Suspendisse potenti. Praesent libero dolor, fermentum sed urna non, tristique pretium ex. Nulla pretium justo ligula, id dictum tellus cursus nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eget ante quis velit faucibus finibus. Curabitur gravida ornare eros, at placerat neque sollicitudin non. Morbi arcu arcu, tincidunt ut lacus non, suscipit mattis ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam mollis accumsan mi, quis volutpat nunc feugiat vitae. Donec vulputate ut ex nec fringilla.</p>
    </div>
    <div class="dag" id="Dinsdag">
      <h2>Dinsdag 26-06-2018</h2>
      <p>Hier is de ingevulde data voor de dinsdag van je dagboek te vinden.<br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel efficitur mauris. Suspendisse potenti. Praesent libero dolor, fermentum sed urna non, tristique pretium ex. Nulla pretium justo ligula, id dictum tellus cursus nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eget ante quis velit faucibus finibus. Curabitur gravida ornare eros, at placerat neque sollicitudin non. Morbi arcu arcu, tincidunt ut lacus non, suscipit mattis ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam mollis accumsan mi, quis volutpat nunc feugiat vitae. Donec vulputate ut ex nec fringilla.</p>
    </div>
    <div class="dag" id="Woensdag">
      <h2>Woensdag 27-06-2018</h2>
      <p>Hier is de ingevulde data voor de woensdag van je dagboek te vinden.<br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel efficitur mauris. Suspendisse potenti. Praesent libero dolor, fermentum sed urna non, tristique pretium ex. Nulla pretium justo ligula, id dictum tellus cursus nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eget ante quis velit faucibus finibus. Curabitur gravida ornare eros, at placerat neque sollicitudin non. Morbi arcu arcu, tincidunt ut lacus non, suscipit mattis ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam mollis accumsan mi, quis volutpat nunc feugiat vitae. Donec vulputate ut ex nec fringilla.</p>
    </div>
    <div class="dag" id="Donderdag">
      <h2>Donderdag 28-06-2018</h2>
      <p>Hier is de ingevulde data voor de donderdag van je dagboek te vinden.<br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel efficitur mauris. Suspendisse potenti. Praesent libero dolor, fermentum sed urna non, tristique pretium ex. Nulla pretium justo ligula, id dictum tellus cursus nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eget ante quis velit faucibus finibus. Curabitur gravida ornare eros, at placerat neque sollicitudin non. Morbi arcu arcu, tincidunt ut lacus non, suscipit mattis ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam mollis accumsan mi, quis volutpat nunc feugiat vitae. Donec vulputate ut ex nec fringilla.</p>
    </div>
    <div class="dag" id="Vrijdag">
      <h2>Vrijdag 29-06-2018</h2>
      <p>Hier is de ingevulde data voor de vrijdag van je dagboek te vinden.<br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel efficitur mauris. Suspendisse potenti. Praesent libero dolor, fermentum sed urna non, tristique pretium ex. Nulla pretium justo ligula, id dictum tellus cursus nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eget ante quis velit faucibus finibus. Curabitur gravida ornare eros, at placerat neque sollicitudin non. Morbi arcu arcu, tincidunt ut lacus non, suscipit mattis ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam mollis accumsan mi, quis volutpat nunc feugiat vitae. Donec vulputate ut ex nec fringilla.</p>
    </div>
    <div class="dag" id="Zaterdag">
      <h2>Zaterdag 30-06-2018</h2>
      <p>Hier is de ingevulde data voor de zaterdag van je dagboek te vinden.<br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel efficitur mauris. Suspendisse potenti. Praesent libero dolor, fermentum sed urna non, tristique pretium ex. Nulla pretium justo ligula, id dictum tellus cursus nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eget ante quis velit faucibus finibus. Curabitur gravida ornare eros, at placerat neque sollicitudin non. Morbi arcu arcu, tincidunt ut lacus non, suscipit mattis ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam mollis accumsan mi, quis volutpat nunc feugiat vitae. Donec vulputate ut ex nec fringilla.</p>
    </div>
    <div class="dag" id="Zondag">
      <h2>Zondag 01-07-2018</h2>
      <p>Hier is de ingevulde data voor de zondag van je dagboek te vinden.<br><br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel efficitur mauris. Suspendisse potenti. Praesent libero dolor, fermentum sed urna non, tristique pretium ex. Nulla pretium justo ligula, id dictum tellus cursus nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eget ante quis velit faucibus finibus. Curabitur gravida ornare eros, at placerat neque sollicitudin non. Morbi arcu arcu, tincidunt ut lacus non, suscipit mattis ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam mollis accumsan mi, quis volutpat nunc feugiat vitae. Donec vulputate ut ex nec fringilla.</p>
    </div>

  </div>


</div>
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Metics &trade;</p>
  </div>
</footer>
